In [ ]:
import pandas as pd

## Merge  
By default, merge() performs an inner join, meaning it only includes rows where the join keys are present in both DataFrames.  
Flexibility:  
You can specify the columns to join on using the on, left_on, and right_on arguments. You can also join on indices by setting left_index=True and/or right_index=True.

In [6]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value2': [4, 5, 6]})

df_merge =pd.merge(df1,df2,on='key')
df_merge

  key  value1  value2
0   B       2       4
1   C       3       5

In [7]:

df_merge =pd.merge(df1,df2,on='key',how='left')
df_merge

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [11]:

df_merge =pd.merge(df1,df2,on='key',how='right')
df_merge.head()

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

## Join
Default Join Type:  
By default, join() performs a left join, meaning it includes all rows from the left DataFrame and matching rows from the right DataFrame.

In [13]:
import pandas as pd
df1 = pd.DataFrame({'value1': [1, 2, 3]}, index=['A', 'B', 'C'])
df2 = pd.DataFrame({'value2': [4, 5, 6]}, index=['B', 'C', 'D'])
joined_df = df1.join(df2)
joined_df

   value1  value2
A       1     NaN
B       2     4.0
C       3     5.0

In [15]:
joined_df = df1.join(df2,how="right")
joined_df

   value1  value2
B     2.0       4
C     3.0       5
D     NaN       6

In [16]:
joined_df = df1.join(df2,how="cross")
joined_df

   value1  value2
0       1       4
1       1       5
2       1       6
3       2       4
4       2       5
5       2       6
6       3       4
7       3       5
8       3       6