In [9]:
import pandas as pd

data = {
    'Region': ['East', 'West', 'East', 'West', 'East'],
    'Product': ['A', 'B', 'A', 'A', 'B'],
    'Sales': [100, 150, 120, 90, 180]
}
df = pd.DataFrame(data)
df

  Region Product  Sales
0   East       A    100
1   West       B    150
2   East       A    120
3   West       A     90
4   East       B    180

In [ ]:
# Create a pivot table showing total sales by Region and Product
pivot_table = df.pivot_table(values='Sales', index='Region', columns='Product', aggfunc='sum')
pivot_table

Product    A    B
Region
East     220  180
West      90  150

In [11]:
df=df.groupby(["Product","Region"])["Sales"].sum()
df.head()

Product  Region
A        East      220
         West       90
B        East      180
         West      150
Name: Sales, dtype: int64